<header>
  <nav>
    <div class="logo">
      <a [routerLink]="['login']"><img src="assets/images/ifrs_logo_branco.png" alt=""></a>
      <h1 class="title-campus">
        <small>Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Sul</small>
        <br>
        Campus Restinga
      </h1>
    </div>
    <div class="menu">
      <ul>
        <li><button href="">Perfil</button></li>
        <li (click)="toggleDropdown()">
          <button [ngClass]="{ 'active': ['discipline', 'course', 'student', 'announcement'].includes(currentPage) }">Gerenciar</button>
          <ul *ngIf="showDropdown" class="dropdown">
            <li><a [routerLink]="['discipline']">Disciplina</a></li>
            <li><a [routerLink]="['course']">Curso</a></li>
            <li><a [routerLink]="['student']">Aluno</a></li>
            <li><a [routerLink]="['announcement']">Edital</a></li>
          </ul>
        </li>
        <li><button [ngClass]="{ 'active': currentPage === 'request' }" [routerLink]="['request']">Solicitações</button></li>
        <li><button [routerLink]="['logout']">Logout</button></li>
      </ul>
    </div>
  </nav>
</header>
