<header>
  <nav>
    <div class="logo">
      <a [routerLink]="['login']"><img src="assets/images/ifrs_logo_branco.png" alt=""></a>
      <h1 class="title-campus">
        <small>Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Sul</small>
        <br>
        Campus Restinga
      </h1>
    </div>
    <div class="menu">
      <ul>
        <li><a routerLink="/user">Usuario</a></li>
        <li><a routerLink="/admin">Admin</a></li>

        <li (click)="toggleDropdown()">
          <button [ngClass]="{ 'active': adminManegent.includes(currentPage) }">Gerenciar</button>
          <ul *ngIf="showDropdown" class="dropdown">
            <li><a [routerLink]="['student']">Aluno</a></li>
            <li><a [routerLink]="['course']">Curso</a></li>
            <li><a [routerLink]="['discipline']">Disciplina</a></li>
            <li><a [routerLink]="['announcement']">Edital</a></li>
            <li><a [routerLink]="['ppc']">PPC</a></li>
            <li><a [routerLink]="['servant']">Servidor</a></li>
          </ul>
        </li>
        <li><button [ngClass]="{ 'active': currentPage === 'request' }" [routerLink]="['request']">Requisições</button></li>

        <form class="d-flex" role="search">
          <button class="btn btn-outline-success" type="button" (click)="onLogin()">Login</button>
          <button class="btn btn-outline-danger" type="button" (click)="onLogout()">Logout</button>
        </form>

      </ul>
    </div>
  </nav>
</header>
