<header>
  <nav>
    <div class="logo">
      <img src="assets/images/ifrs_logo_branco.png" alt="">
      <h1 class="title-campus">
        <small>Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Sul</small>
        <br>
        Campus Restinga
      </h1>
    </div>
    <div class="menu">
      <ul>
        <li><a href="">Perfil</a></li>
        <li><a href="">Cadastrar</a></li>
        <li><a href="">Solicitações</a></li>
        <li><a href="">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>
