header{
  width: 100%;
  background-color: var(--color-header);
  font-family: system-ui;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.logo{
  display: flex;
}

header .title-campus {
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
  align-self: end;
  padding: 1rem;
}

header .title-campus small {
  color: #fff;
  display: inline-block;
  font-size: .8rem
}


.menu{
  width: 50vmax;
  align-self: end;
}

.menu ul{
  display: flex;
  justify-content: flex-end;
}

.menu ul li a{
  font-weight: bold;
  color: #fff;
  font-size: 1.5rem;
  padding-right: 1.5rem;
  text-decoration: none;
}
