<form [formGroup]="announcementStepForm" (ngSubmit)="submitForm()" #form="ngForm">

  <div class="form-group">
    <label for="descricao">Descrição</label>
    <input type="text" id="descricao"formControlName="descricao" placeholder="" 
    [ngClass]="{'valid-input': !isStepValid('descricao'), 'invalid-input': isStepValid('descricao')}"/>
  </div>

  <div class="form-half-grid">
      <div class="form-group">
      <label for="coordenador">Data Início</label>
      <input type="date" id="dataInicio" formControlName="dataInicio"
      [ngClass]="{'valid-input': validarDataFinalStepPosterior() && !isStepValid('dataInicio'), 
      'invalid-input': !validarDataFinalStepPosterior() && isStepValid('dataInicio')}" />
  </div>
  
  <div class="form-group">
      <label for="coordenador">Data Fim</label>
      <input type="date" id="dataFim" formControlName="dataFim"
      [ngClass]="{'valid-input': validarDataFinalStepPosterior() && !isStepValid('dataFim'), 
      'invalid-input': !validarDataFinalStepPosterior() && isStepValid('dataFim')}" />
  </div>
  </div>

  <div class="form-group">
    <label for="ator">Ator</label>
    <select id="ator" formControlName="ator" [class.invalid]="!isAtorValid()">
      <option value="">Selecione um ator</option>
      <option *ngFor="let ator of atores" [value]="ator">{{ ator }}</option>
    </select>
  </div>

</form>
{{form.valid | json}}
{{form.value | json}}



<!-- Add more fields as needed -->