<div class="container">
  <app-title title="Cadastro de disciplina"></app-title>
  <form [formGroup]="disciplineForm" (ngSubmit)="submitForm()" #form="ngForm">

    <div class="form-group">
      <label for="codigo">Código (RST-ABC123)</label>
      <input type="text" id="codigo" formControlName="codigo" placeholder="Código do componente curricular" (blur)="convertCodigoToUpperCase()"/>
    </div>
    
    <div class="form-group">
      <label for="disciplina">Componente Curricular</label>
      <input type="text" id="disciplina" formControlName="disciplina" placeholder="Nome do componente curricular" (blur)="convertDisciplinaToUpperCase()"/>
    </div>

    <div class="form-group">
      <label for="curso">Curso</label>
      <select id="curso" formControlName="curso" [class.invalid]="!isCursoValid()">
        <option value="">Selecione um curso</option>
        <option *ngFor="let curso of cursos" [value]="curso">{{ curso }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="cargaHoraria">Carga Horária</label>
      <input type="number" id="cargaHoraria" formControlName="cargaHoraria" placeholder="Carga Horária(h)"/>
    </div>
    <hr>

    <div class="btn-submit-container">
      <button type="submit" class="btn-register" [ngClass]="{'btn-green': isFormValid(), 'btn-gray': !isFormValid()}" 
	  [disabled]="!isFormValid()">Cadastrar</button>
    </div>
    
  </form>
</div>
