
<div class="container">
    <app-title title="Cadastrar Novo Curso"></app-title>
    <form [formGroup]="courseForm" (ngSubmit)="submitForm()" #form="ngForm">

      <div class="form-group">
        <label for="nomeCurso">Nome do Curso</label>
        <input type="text" id="nomeCurso"formControlName="nomeCurso" placeholder=""/>
      </div>

      <div class="form-group">
        <label for="anoPpc">Ano do PPC</label>
        <input type="text" id="anoPpc" formControlName="anoPpc" placeholder=""/>
      </div>

      <div class="form-group">
      <label for="coordenador">Coordenador</label>
      <input type="text" id="coordenador" formControlName="coordenador" placeholder="Nome Completo"/>
      </div>
      
      <div class="btn-submit-container" id="botaoSalvar">
        <button type="submit" class="btn-register" [ngClass]="{'btn-green': isFormValid(), 'btn-gray': !isFormValid()}">Salvar</button>
      </div>

    </form>
</div>
{{form.valid | json}}
{{form.value | json}}

