
<div class="container">
    <app-title title="Cadastrar Novo Curso"></app-title>
    <form [formGroup]="courseForm" (ngSubmit)="submitForm()" #form="ngForm">

      <div class="form-group">
        <label for="nomeCurso">Nome do Curso</label>
        <input type="text" id="nomeCurso"formControlName="nomeCurso" placeholder=""
        [ngClass]="{'valid-input': !isValid('nomeCurso'), 'invalid-input': isValid('nomeCurso')}"/>
      </div>

      <div class="form-group">
        <label for="anoPpc">Ano do PPC</label>
        <input type="text" id="anoPpc" formControlName="anoPpc" placeholder=""
        [ngClass]="{'valid-input': !isValid('anoPpc'), 'invalid-input': isValid('anoPpc')}"/>
      </div>

      <div class="form-group">
      <label for="coordenador">Coordenador</label>
      <input type="text" id="coordenador" formControlName="coordenador" placeholder="Nome Completo"
      [ngClass]="{'valid-input': !isValid('coordenador'), 'invalid-input': isValid('coordenador')}"/>
      </div>
      
      <div class="btn-submit-container" id="botaoSalvar">
        <button type="submit" class="btn-register" [ngClass]="{'btn-green': isFormValid(), 'btn-gray': !isFormValid()}"[disabled]="!isFormValid()">Salvar</button>
      </div>

    </form>
</div>


