<div class="container">
    <app-title title="Cadastro Servidor"></app-title>
    <form [formGroup]="formData" (ngSubmit)="submitForm(formData)">

        <div class="form-group">
            <label for="nomeCompleto">Nome Completo</label>
            <input type="text" id="nomeCompleto" formControlName="nomeCompleto" placeholder="Nome do Servidor"
                [ngClass]="{'valid-input': !isValid('nomeCompleto'), 'invalid-input': isValid('nomeCompleto')}" required>
        </div>

        <div class="form-group">
            <label for="email">Email Institucional</label>
            <input type="email" id="email" formControlName="email" placeholder="email@restinga.ifrs.edu.br"
            [ngClass]="{'valid-input': !isValid('email'), 'invalid-input': isValid('email')}" required>
        </div>

        <div class="form-half-grid">
            <div class="form-group">
                <label for="siape">Siape</label>
                <input type="text" id="siape" formControlName="siape" placeholder="numérico"
                required [ngClass]="{'valid-input': !isValid('matricula'), 'invalid-input': isValid('matricula')}">
            </div>

            <div class="form-group">
                <label for="tipo">Cargo</label>
                <select id="tipo" formControlName="tipo" placeholder=""required [class.invalid]="!isTipoValid()">
                <option *ngFor="let userType of userTypes" [value]="userType">{{ userType }}</option>
                </select>
              </div>
        </div>
        <div class="btn-submit-container">
            <button type="submit" class="btn-register" [ngClass]="{'btn-green': formData.valid && isTipoValid(),
            'btn-gray': !formData.valid || !isTipoValid() }" [disabled]="!formData.valid || !isTipoValid()">Enviar</button>
        </div>
    </form>
  </div>
