<div class="container">
    <app-title title="Cadastro Servidor"></app-title>
    <form [formGroup]="formData" (ngSubmit)="submitForm(formData)">

        <div class="form-group">
            <label for="nomeCompleto">Nome Completo</label>
            <input type="text" id="nomeCompleto" formControlName="nomeCompleto" placeholder="Jorge Jorginho"
                [ngClass]="{'valid-input': !isValid('nomeCompleto'), 'invalid-input': isValid('nomeCompleto')}" required>
        </div>

        <div class="form-group">
            <label for="email">Email Institucional</label>
            <input type="email" id="email" formControlName="email" placeholder="123456@aluno.restinga.ifrs.edu.br" required
            [ngClass]="{'valid-input': !isValid('email'), 'invalid-input': isValid('email')}" required>
        </div>

        <div class="form-half-grid">
            <div class="form-group">
                <label for="siape">Siape</label>
                <input type="text" id="siape" formControlName="siape" placeholder="10 dígitos"
                    required [ngClass]="{'valid-input': !isValid('matricula'), 'invalid-input': isValid('matricula')}">
            </div>

            <div class="form-group">
                <label for="cargo">Cargo</label>
                <select id="cargo" formControlName="cargo" required>
                  <option *ngFor="let userType of userTypes" [value]="userType">{{ userType }}</option>
                </select>
              </div>
        </div>
        <div class="btn-submit-container">
            <button type="submit" class="btn-register" [ngClass]="{'btn-green': formData.valid, 'btn-gray': !formData.valid}" [disabled]="!formData.valid">Enviar</button>
        </div>
    </form>
  </div>

  {{formData.value | json}}
