<app-lists-title title="Disciplinas" route="/discipline/register" buttonName="Adicionar Disciplina"></app-lists-title>

<div class="containerFiltro">
  <div class="form-group">
    <label class="mr-2">Filtro </label>
    <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="termoPesquisa" (input)="getDisciplina()">
  </div>
</div>

<div class="container">
<table class="disciplina-container" style="width: 60%;">
  <thead class="thead-dark" style="text-align: center;">
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Codigo</th>
      <th>Carga Horaria</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody style="padding-left: 7px;text-align: center;" *ngIf="disciplinaList && disciplinaList.length">
      <tr *ngFor="let disciplina of  disciplinaList">
        <td>{{disciplina.id}}</td>
        <td>{{disciplina.nome}}</td>
        <td>{{disciplina.codDisciplina}}</td>
        <td>{{disciplina.cargaHoraria}}</td>
        <td style="width: 28%;">
          <button type="button" class="btn-register-disciplina" (click)=onEdit(disciplina)>Editar</button>
          <button type="button" class="btn-alert-disciplina" (click)=showConfirmationDialog(disciplina)>Excluir</button>
        </td>
      </tr>
  </tbody>
  <tfoot *ngIf="!disciplinaList.length">
    <tr>
      <td colspan="8">
        <h4>Nenhuma disciplina encontrada!</h4>
      </td>
    </tr>
  </tfoot>
</table>
</div>
<app-confirmation-dialog
*ngIf="isConfirmationVisible"
[message]="confirmationMessage"
(confirmed)="handleConfirmation($event)"
></app-confirmation-dialog>

