<app-lists-title title="Disciplinas" route="/discipline/register" buttonName="Adicionar Disciplina"></app-lists-title>
<!--Desenvolvida por Guilherme Selau Pereira-->
<div class="containerFiltro">
  <div class="form-group">
    <label class="mr-2">Filtro </label>
    <input type="text" class="form-control mr-2" placeholder="buscar">
  </div>
</div>

<div class="container">
<table class="discipline-container" style="width: 60%;">
  <thead class="thead-dark" style="text-align: right;">
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>codigo</th>
      <th>carga Horaria</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody style="padding-left: 7px;text-align: right;">
<!--*ngIf="disciplinaList && disciplinaList.length"
      <tr *ngFor="let discipline of  disciplineList">
        <td>{{disciplina.id}}</td>
        <td>{{disciplina.nome}}</td>
        <td>{{toDate(disciplina.codDisciplina)}}</td>
        <td>{{toDate(disciplina.cargaHoraria)}}</td>
        <td style="width: 28%;">
          <button type="button" class="btn-register-discipline" >Editar</button>
          <button type="button" class="btn-alert-discipline">Excluir</button>
        </td>
      </tr>-->
<!--(click)=onEdit(disciplina)-->
<!--(click)=showConfirmationDialog(disciplina)-->
  </tbody>
  <tfoot>
    <!--*ngIf="!disciplineList.length"-->
    <tr>
      <td colspan="8">
        <h4>Nenhuma disciplina encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
</div>
<!--app-confirmation-dialog
*ngIf="isConfirmationVisible"
[message]="confirmationMessage"
(confirmed)="handleConfirmation($event)"
></app-confirmation-dialog>-->

