<app-lists-title title="Curso" route="/curse/register" buttonName="Adicionar Curso"></app-lists-title>

<div class="containerFiltro">
  <div class="form-group">
    <label class="mr-2">Filtro </label>
    <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="termoPesquisa" (input)="getCurso()">
  </div>
</div>

<div class="container">
<table class="curso-container" style="width: 60%;">
  <thead class="thead-dark" style="text-align: center;">
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody style="padding-left: 7px;text-align: center;" *ngIf="cursoList && cursoList.length">
      <tr *ngFor="let curso of  cursoList">
        <td>{{curso.id}}</td>
        <td>{{curso.nome}}</td>
        <td style="width: 28%;">
          <button type="button" class="btn-register-curso" (click)=onEdit(curso)>Editar</button>
          <button type="button" class="btn-alert-curso" (click)=showConfirmationDialog(curso)>Excluir</button>
        </td>
      </tr>
  </tbody>
  <tfoot *ngIf="!cursoList.length">
    <tr>
      <td colspan="8">
        <h4>Nenhuma curso encontrada!</h4>
      </td>
    </tr>
  </tfoot>
</table>
</div>
<app-confirmation-dialog
*ngIf="isConfirmationVisible"
[message]="confirmationMessage"
(confirmed)="handleConfirmation($event)"
></app-confirmation-dialog>

