.btn-register  {
    margin-top: 10%;
}

.courses {
    width: 60vw;
    pointer-events: all;
}

#lista-cursos{
    padding: 3%;
}

.loading-spinner {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

