<app-lists-title title="Servidores" route="/servant/register" buttonName="Adicinar Servidor"></app-lists-title>

<div class="containerFiltro">
    <div class="form-group">
      <label class="mr-2"> Filtro </label>
      <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="termoPesquisa" (input)="getServant()">
    </div>
</div>

<div class="container">
  <table class="servidor-container" style="width: 60%;">
    <thead class="thead-dark" style="text-align: right;">
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Siape</th>
        <th>Cargo</th>
      </tr>
    </thead>
    <tbody style="padding-left: 7px;text-align: right;" *ngIf="servidorList && servidorList.length">

        <tr *ngFor="let servidor of  servidorList">
          <td>{{servidor.id}}</td>
          <td>{{servidor.nome}}</td>
          <td>{{servidor.email}}</td>
          <td>{{servidor.siape}}</td>
          <td>{{servidor.tipo}}</td>
          <td style="width: 28%;">
            <button type="button" class="btn-register-servidor" (click)=onEdit(servidor)>Editar</button>
            <button type="button" class="btn-alert-servidor" (click)=showConfirmationDialog(servidor)>Excluir</button>
          </td>
        </tr>

    </tbody>
    <tfoot *ngIf="!servidorList.length">
      <tr>
        <td colspan="8">
          <h4>Nenhum servidor encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<app-confirmation-dialog
  *ngIf="isConfirmationVisible"
  [message]="confirmationMessage"
  (confirmed)="handleConfirmation($event)"
></app-confirmation-dialog>
