<div class="container">
    <app-title title="Cadastro"></app-title>
    <form #form="ngForm" (ngSubmit)="submitForm(form)">

        <div class="form-group">
            <label for="nomeCompleto">Nome Completo</label>
            <input type="text" id="nomeCompleto" name="nomeCompleto" placeholder="Jorge Jorginho"
                [(ngModel)]="formData.nomeCompleto" required>
        </div>

        <div class="form-group">
            <label for="email">Email Institucional</label>
            <input type="email" id="email" name="email" placeholder="123456@aluno.restinga.ifrs.edu.br"
                [(ngModel)]="formData.email" required>
        </div>

        <div class="form-group">
            <label for="curso">Curso</label>
            <select id="curso" name="curso" [(ngModel)]="formData.curso" required>
                <option *ngFor="let item of listCursos" [ngValue]="item.curso">
                    {{item.curso}}
                </option>>

            </select>
        </div>
        <div class="form-half-grid">
            <div class="form-group">
                <label for="matricula">Matrícula</label>
                <input type="text" id="matricula" name="matricula" placeholder="123456" [(ngModel)]="formData.matricula" required>
            </div>

            <div class="form-group">
                <label for="ingresso">Data de Ingresso</label>
                <input type="text" id="ingresso" name="ingresso" placeholder="02/2023" [(ngModel)]="formData.ingresso" required>
            </div>
        </div>
        <div class="btn-submit-container ">
            <button type="submit" class="btn-register">Enviar</button>
        </div>
    </form>

</div>
{{form.value | json}}