<div class="container">
    <app-title title="Login"></app-title>
  
  
  
    <div id="form-login">
  
      <form [formGroup]="loginForm" (ngSubmit)="submitForm()" #form="ngForm">
  
          <div id="logo">
              <img src="../../../assets/images/logotipo_campus_restinga_horizontal.png">
          </div>
  
          <div class="form-group">
              <label for="email">Email</label>
              <input type="text" id="email" formControlName="email" placeholder="matricula@restinga.ifrs.edu.br"/>
          </div>
  
          <div class="form-group">
              <label for="senha">Senha:</label>
              <input type="password" id="senha" formControlName="password" placeholder="Senha"/>
          </div>
  
      </form>
  
      <div class="btn-submit-container" id="botoes-login">
          <button type="submit" class="btn-register" [ngClass]="{'btn-green': isFormValid(), 'btn-gray': !isFormValid()}">Acessar</button>
      </div>
  
      <div id="botoes-login">
          <button type="submit"  id="cadastrar" class="btn-register" >Cadastrar</button>
      </div>
    </div>
  </div>
 
  