<div class="container">
  <app-title title="Cadastrar Novo Curso"></app-title>

  <mat-card>
    <form [formGroup]="form">
      <mat-form-field >
        <input matInput placeholder="Nome do Curso" formControlName="nomeCurso">
      </mat-form-field>

      <mat-form-field >
        <input matInput placeholder="Ano PPC" formControlName="anoPpc">
      </mat-form-field>

      <mat-form-field >
        <input matInput placeholder="Coordenador" formControlName="coordenador">
      </mat-form-field>

    </form>
  </mat-card>
</div>
{{form.value | json}}

<!--
    <form #form="ngForm" (ngSubmit)="submitForm(form)" id="formCurso">
        <div class="form-group">
            <label for="nomeCurso">Nome do Curso</label>
            <input type="text" id="nomeCurso" name="nomeCurso" placeholder=""
                [(ngModel)]="formData.nomeCurso" required>
        </div>

        <div class="form-group">
            <label for="anoPpc">Ano do PPC</label>
            <input type="text" id="anoPpc" name="anoPpc" placeholder=""
                [(ngModel)]="formData.anoPpc" required>
        </div>

        <div class="form-group">
            <label for="coordenador">Coordenador</label>
            <input type="text" id="coordenador" name="coordenador" placeholder=""
                [(ngModel)]="formData.coordenador" required>
        </div>

        <div class="btn-submit-container" id="botaoSalvar">
            <button type="submit" class="btn-register">Salvar</button>
        </div>
    </form>
  -->
