<div class="container">
  <form  [formGroup]="form" (ngSubmit)="onSubmit(form)" id="formCurso">

    <div class="form-group">
      <label for="nome">Nome do Curso</label>
      <input type="text" id="nome" formControlName="nome" placeholder=""
      [ngClass]="{'valid-input': !isValid('nome'), 'invalid-input': isValid('nome')}" required>
    </div>

    <div class="form-group">
      <label for="PPCs">Ano do PPC</label>
      <input type="text" id="PPCs" formControlName="PPCs" placeholder="AAAA"
      [ngClass]="{'valid-input': !isValid('PPCs'), 'invalid-input': isValid('PPCs')}" required>
    </div>

    <div class="form-group">
      <label for="coordenadores">Coordenadores</label>
      <input type="text" id="coordenadores" formControlName="coordenadores" placeholder="Nome"
      [ngClass]="{'valid-input': !isValid('coordenadores'), 'invalid-input': isValid('coordenadores')}" required>
    </div>

  <div class="btn-submit-container" id="botaoSalvar">
      <button type="submit" class="btn-register" [ngClass]="{'btn-green': form.valid, 'btn-gray': !form.valid}" [disabled]="!form.valid">Salvar</button>
  </div>
  </form>
</div>
{{form.valid | json}}
{{form.value | json}}
<!--

  <mat-card>
    <form [formGroup]="form">
      <mat-form-field class="full-width" >
        <input matInput placeholder="Nome do Curso" formControlName="nomeCurso">
      </mat-form-field>

      <mat-form-field class="full-width" >
        <input matInput placeholder="Ano PPC" formControlName="anoPpc">
      </mat-form-field>

      <mat-form-field class="full-width" >
        <input matInput placeholder="Coordenador" formControlName="coordenador">
      </mat-form-field>

      <mat-card-actions class="button">
        <button mat-raised-button color="primary"> Salvar </button>
        <button mat-raised-button color="warn"> Apagar </button>
      </mat-card-actions>

    </form>
  </mat-card>

--------------------------

    <form #form="ngForm" (ngSubmit)="submitForm(form)" id="formCurso">
        <div class="form-group">
            <label for="nomeCurso">Nome do Curso</label>
            <input type="text" id="nomeCurso" name="nomeCurso" placeholder=""
                [(ngModel)]="formData.nomeCurso" required>
        </div>

        <div class="form-group">
            <label for="anoPpc">Ano do PPC</label>
            <input type="text" id="anoPpc" name="anoPpc" placeholder=""
                [(ngModel)]="formData.anoPpc" required>
        </div>

        <div class="form-group">
            <label for="coordenador">Coordenador</label>
            <input type="text" id="coordenador" name="coordenador" placeholder=""
                [(ngModel)]="formData.coordenador" required>
        </div>

        <div class="btn-submit-container" id="botaoSalvar">
            <button type="submit" class="btn-register">Salvar</button>
        </div>
    </form>
  -->
