#formCurso {
    border: 1px solid #EAEBEE;
    margin: 2vh;
    padding: 60px;

}

#formCurso #botaoSalvar, input{
    display: flex;
    justify-content: center;
}


mat-card {
  max-width: 50%;
  margin: 2em auto;
  text-align: center;
  align-items: center;
}

.full-width {
  width: 95%;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

.button {
  align-items: center;
  align-content: center;
  text-align: center;
}
.button button{
  margin: 1%;
}
btn-green {
  background-color: green;
  color: white;
}

.btn-gray {
  background-color: gray;
  color: white;
}
.valid-input {
  background-color: rgb(255, 255, 255);
  color: white;
}

.invalid-input {
  background-color: rgb(229, 204, 204);
  color: white;
}
