<div class="container">
  <app-title title="Envio de Solicitações"></app-title>

  <form #form="ngForm" (ngSubmit)="submitForm(form)">
    <div class="form-group">
      <label for="tipo">Tipo:</label>
      <select name="tipo" id="tipo" [(ngModel)]="formData.tipoSolicitacao" required>
        <option *ngFor="let item of listTiposRequisicoes" [ngValue]="item.tipoSolicitacao">
          {{ item.tipoSolicitacao }}
        </option>
      </select>
    </div>

    <!------------- Adicionar elementos do discipline-registration -------------->
    <div class="form-group">
      <label for="componenteCurricular">Componente Curricular:</label>
      <select name="componenteCurricular" id="componenteCurricular" [(ngModel)]="formData.componenteCurricular" required>
        <option *ngFor="let item of listComponentesCurriculares" [ngValue]="item.componenteCurricular">
          {{ item.componenteCurricular }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="experienciaAnterior">Experiência anterior:</label>
      <input type="text" name="experienciaAnterior" id="experienciaAnterior" placeholder="ex: atuação em projeto que utiliza angular" [(ngModel)]="formData.experienciaAnterior" required/>
    </div>

    <!----------------- arrumar file para aparecer mais -------------------------->
    <div class="form-group">
      <label for="file-input">Anexar arquivo:</label>
      <div class="file-upload">
        <label for="file-input" class="file-label" [innerHTML]="fileFormat">
        </label>
        <input type="file" id="file-input" class="file-input" multiple (change)="handleFileSelect($event)">
      </div>
    </div>
    <br>
    <br>
    <!--------------------------------------------------------------------------->

    <div class="btn-submit-container">
      <button type="submit" class="btn-register">Enviar</button>
    </div>
    <div class="btn-submit-container">
      <button type="reset" class="btn-red" (click)="handleResetClick()">Cancelar</button>
    </div>

  </form>
</div>
