
<div class="container">
  <app-title title="Cadastrar Edital"></app-title>
  <form [formGroup]="announcementForm" (ngSubmit)="submitForm()" #form="ngForm">

    <div class="form-group">
      <label for="nomeCurso">Nome do Curso</label>
      <input type="text" id="nomeCurso"formControlName="nomeCurso" placeholder=""/>
    </div>

   <div class="form-half-grid">
  <div class="form-group">
    <label for="coordenador">Data Início</label>
    <input type="date" id="dataInicio" formControlName="dataInicio" />
    </div>
    

    <div class="form-group">
    <label for="coordenador">Data Fim</label>
    <input type="date" id="dataFim" formControlName="dataFim" />
    </div>
  </div>


<div class="btn-container">
    <h3>Etapas:</h3>
    <button (click)="addStep()" class="btn-register add-step">Etapa +</button>
</div>
<div *ngFor="let step of steps">
    <app-announcement-step></app-announcement-step>
</div>
    
  <div class="btn-submit-container" id="enviar">
      <button type="submit" class="btn-register" [ngClass]="{'btn-green': isFormValid() && validarDataFinalPosterior(),
  'btn-gray': !isFormValid() && !validarDataFinalPosterior()}">Enviar</button>
    </div>

  </form>
</div>
{{form.valid | json}}
{{form.value | json}}
{{validarDataFinalPosterior() | json }}

