
<div class="container">
  <app-title title="Cadastrar Edital"></app-title>
  <form [formGroup]="announcementForm" (ngSubmit)="submitForm()" #form="ngForm">

    <div class="form-group">
      <label for="numero">Número do edital</label>
      <input type="text" id="numero"formControlName="numero" placeholder="" (blur)="convertNumeroToUpperCase()"
      [ngClass]="{'valid-input': !isValid('numero'), 'invalid-input': isValid('numero')}"/>
    </div>

   <div class="form-half-grid">
  <div class="form-group">
    <label for="dataInicio">Data Início</label>
    <input type="date" id="dataInicio" formControlName="dataInicio"
    [ngClass]="{'valid-input': validarDataFinalPosterior() && !isValid('dataInicio'), 'invalid-input': !validarDataFinalPosterior() && isValid('dataInicio')}" />
    </div>
    

    <div class="form-group">
    <label for="dataFim">Data Fim</label>
    <input type="date" id="dataFim" formControlName="dataFim"
    [ngClass]="{'valid-input': validarDataFinalPosterior() && !isValid('dataFim'), 'invalid-input': !validarDataFinalPosterior() && isValid('dataFim')}" />
    </div>
  </div>


<div class="btn-container">
    <h3>Etapas:</h3>
    <button (click)="addStep()" class="btn-register add-step">Etapa +</button>
</div>
<div *ngFor="let step of steps">
    <app-announcement-step></app-announcement-step>
</div>
    
  <div class="btn-submit-container" id="enviar">
      <button type="submit" class="btn-register" [ngClass]="{'btn-green': isFormValid() && validarDataFinalPosterior(),
  'btn-gray': !isFormValid() && !validarDataFinalPosterior()}">Enviar</button>
    </div>

  </form>
</div>
{{form.valid | json}}
{{form.value | json}}


