<div class="container">
  <app-title title="Cadastro de disciplina"></app-title>
  <form #form="ngForm" (ngSubmit)="submitForm(form)">
    <div class="form-group">
      <label for="curso">Curso</label>
      <select id="curso" name="curso" (change)="selectPpcs($event)">
        <option *ngFor="let item of listCursos" [ngValue]="item.curso">
          {{item.id}}. {{item.curso}}
        </option>>
    </select>
    </div>
    <div class="form-group">
      <label for="ppc">PPC</label>
      <select id="ppc" name="ppc" [(ngModel)]="formData.ppc" (ngModelChange)="ppcChange()" required>
        <option *ngFor="let item of listPpcs" [ngValue]="item">
         {{item.nomePPC}} - {{item.ano}}
        </option>>
      </select>
    </div>
    <div class="form-group">
      <label for="codigo">Código</label>
      <input type="text" id="codigo" name="codigo" placeholder="Código do componente curricular " [(ngModel)]="formData.codigo" required />
    </div>
    <div class="form-group">
      <label for="disciplina">Componente Curricular</label>
      <input type="text" id="disciplina" name="disciplina" placeholder="Nome do componente curricular" [(ngModel)]="formData.disciplina" required />
    </div>

    <div class="form-group">
      <label for="cargaHoraria">Carga Horária</label>
      <input type="number" id="cargaHoraria" name="cargaHoraria" placeholder="Carga Horária(h)" min="0" [(ngModel)]="formData.cargaHoraria" required />
    </div>
    <hr>
    <div class="btn-submit-container">
      <button type="submit" class="btn-register">Cadastrar</button>
    </div>
  </form>
</div>
