<div class="container">
  <app-title title="LoginOAuth"></app-title>
  <div class="bloco">
    <div id="logo">
      <img src="../../../assets/images/logotipo_campus_restinga_horizontal.png">

    </div>


    <div id="botao-login">
      <div id="logo-google" class="column">
        <img src="../../../assets/images/google-logo.png">
      </div>
      <div id="botao-google" class="column">
        <button id="login" (click)="onClick()" >Logar com o Google</button>
      </div>
    </div>

  </div>
</div>
