:root{
  --color-footer: #F5F5F5
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #F5F5F5; /*var(--color-footer);*/
}

.logo{
  padding-right: 50px;
}

.logo img {
  max-width: 100px; /* Ajuste o tamanho do logotipo conforme necessário */
}

.conteudo {
  text-align: center;
}

p {
  margin: 0; /* Remover margens padrão dos parágrafos */
}
